.page {
  $header-height: 40px;

  &>.title {
    // position: fixed;
    height: $header-height;
    // background-color: white;
    // border-radius: 5px;
    // margin-top: 10px;
  }

  &>.page-content {
    max-height: calc(100vh - $header-height - 10px);
    overflow-y: scroll;
    // margin-top: $header-height + 10px;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}